DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost,web

DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

POSTGRES_DB=data_base
POSTGRES_USER=user
POSTGRES_PASSWORD=password
HOST_DB=db
PORT_DB=5432

TIME_ZONE=
CORS_ALLOW_ALL_ORIGINS=True
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
TELEGRAM_BOT_TOKEN=pass